.box_PM {
    width: 100%;
    height: 100%;
    background-image: url('../../Images/background.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;
}

.holderPM {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePM {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

.holder_PM2 {
    display: flex;
    flex-direction: column;
    width: 900px;
    background-color: #0E7490;
    opacity: 0.8;
    border-radius: 20px;
}

.tablePM {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    border-collapse: collapse;
}

.thPM{
    border: solid;
    border-width: 1px;
    padding: 5px;
    border-color: white;
    color: white;
    width: 120px;
}

.actionBtn {
    border-width: 0px;
    border-radius: 5px;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: rgb(5, 184, 5);
    margin-left: 5px;
}

@media screen and (max-width : 1024px) {

    .holder_PM2 {
        width: 700px;
    }
}

@media screen and (max-width : 768px) {

    .holder_PM2 {
        width: 600px;
    }
}