.dropSelect {
    width: 300px;
    height: 50px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
}

.dropSelect:hover{
    color: #8D8D8D;
}

.option1 {
    color: #8D8D8D;
}