.boxSL {
    width: 100%;
    height: 100%;
    background-image: url('../../Images/background.png');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;
}

.titleSL {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.backBtn {
    margin-top: 110px;
    margin-right: 50px;
    width: 90px;
    height: 30px;
    border-width: 0px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(68, 16, 111);
    color: white;
    cursor: pointer;
}

.tableBoxSL {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.tableSL {
    text-align: center;
    border-collapse: collapse;
    margin-top: 20px;
}

.thSL {
    border: solid;
    border-width: 1px;
    padding: 5px;
    border-color: black;
    width: 120px;
}

.actionBtn {
    border-width: 0px;
    border-radius: 5px;
    height: 20px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: rgb(5, 184, 5);
    margin-left: 5px;
}

.noFB {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.ss{
    height: 280px;
}

@media screen and (max-width : 1024px) {

    .tableBoxSL {
        margin-left: 50px;
        margin-right: 50px;
    }

    .tableSL {
        margin-left: 0px;
    }

    .ss{
        height: 250px;
    }
}