.menuIcon {
    height: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.menu_keys {
    margin-top: 15px;
    margin-left: 20px;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 10px;
    width: 390px;
}

.menu_keys.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}

.menu_keys.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}

.menu_keys ul li {
    padding: 10px 0;
}

.menu_keys ul li:hover a {
    color: black;
    cursor: pointer;
}

.dropDownItem {
    display: flex;
    margin: 10px auto;
}

.dropDownItem a {
    margin-left: 10px;
    transition: 500ms;
    font-family: "Lato";
    font-weight: bolder;
    font-size: 30px;
    color: darkslategray;
}

@media screen and (max-width : 768px) {
    .menu_keys {
        margin-top: 15px;
        margin-left: 20px;
        position: absolute;
        background-color: white;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 5px 5px;
        width: 250px;
    }

    .dropDownItem a {
        margin-left: 10px;
        transition: 500ms;
        font-family: "Lato";
        font-weight: bolder;
        font-size: 25px;
        color: darkslategray;
    }
}