.box {
    width: 100%;
    height: 100%;
    background-image: url('../../Images/background.png');
    background-position: center;
    background-size: cover;
    position: fixed;

}

.holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box2 {
    display: flex;
    width: 1100px;
    height: 500px;
    background-color: #0E7490;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 12%;
    opacity: 0.8;
    border-radius: 20px;
}

.RequestImage {
    margin-top: 40px;
    display: flex;
    width: 400px;
    height: 80%;
    background-image: url('../../Images/RequestImg.png');
    background-position: center;
    background-size: cover;
}

.RequestBox {
    margin-top: 40px;
}

.RequestTitle {
    font-size: 50px;
    font-weight: 1000;
    text-align: end;
    margin-bottom: 10px;
    color: white;
}

.RequestText1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: end;
}

.RequestText2 {
    font-size: 20px;
    font-weight: bold;
    color: #4900C4;
    text-align: end;
    cursor: pointer;
    text-decoration: none;
}

.RequestText2:hover {
    color: #2a0072;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.RequestButton {
    position: absolute;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border-width: 0px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -110px;
    color: darkslategray;
}

.RequestButton:hover {
    color: black;
}

@media screen and (max-width : 1024px) {
    .box2 {
        display: flex;
        width: 700px;
        height: 500px;
        background-color: #0E7490;
        align-content: center;
        justify-content: space-evenly;
        margin-top: 20%;
        opacity: 0.8;
        border-radius: 20px;
    }

    .RequestImage {
        margin-top: 90px;
        display: flex;
        width: 300px;
        height: 60%;
        background-image: url('../../Images/RequestImg.png');
        background-position: center;
        background-size: cover;
        margin-left: 20px;
    }

    .RequestTitle {
        font-size: 45px;
        font-weight: 1000;
        text-align: end;
        margin-right: 40px;
    }

    .RequestText1 {
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: end;
        margin-right: 40px;
    }

    .RequestButton {
        position: absolute;
        width: 230px;
        height: 50px;
        border-radius: 30px;
        border-width: 0px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
        margin-left: -70px;
    }
}

@media screen and (max-width : 768px) {
    .box2 {
        display: flex;
        width: 500px;
        height: 500px;
        background-color: #0E7490;
        align-content: center;
        justify-content: space-between;
        margin-top: 20%;
        opacity: 0.8;
        border-radius: 20px;
    }

    .RequestImage {
        width: 40px;
        visibility: hidden;
    }

    .RequestTitle {
        font-size: 30px;
        font-weight: 1000;
        text-align: end;
        margin-bottom: 20px;
        margin-right: 85px;
    }

    .RequestText1 {
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: end;
        margin-right: 85px;
    }

    .RequestButton {
        position: absolute;
        width: 200px;
        height: 50px;
        border-radius: 30px;
        border-width: 0px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 20px;
        margin-left: -65px;
    }
}